<h1><%= @place["name"] %></h1>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
</p>

<% if @current_user %>

  <% for post in @posts %>
    <h3><%= post["title"] %></h3>
    <h4><%= post["posted_on"] %></h4>
    <p><%= post["description"] %></p>
  <% end %>

<% end %>


