<h1><%= @place["name"] %></h1>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary mb-3">New Post</a>
</p>

<div class="row">
    <% if @current_user %>
      <% for post in @posts %>
       <div class="col-md-4 col-sm-12 mb-3">
          <h3><%= post["title"] %></h3>
          <h4><%= post["posted_on"] %></h4>
          <p><%= post["description"] %></p>
          <% if post.uploaded_image.attached? %>
            <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
          <% else %>
            <img src="<%= post["image"] %>" class="img-fluid">
          <% end %>
        </div>
      <% end %> 
    <% end %>
</div>


